{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Говоря о нашем магазине мы в первую очередь говорим о качестве обслуживания покупателей: о свежести цветов, об удобстве заказа цветов, о большом выборе букетов, об уровне профессионального мастерства флористов, которые собирают цветочные композиции, о бесплатной доставке цветов, о вежливости операторов и курьеров, о доставке букетов от 30 минут со времени заказа и многих других моментах, которые мы постоянно совершенствуем, стремясь довести до идеала и, которые в совокупности образуют систему ключевых ценностей нашей компании.

В нашем интернет магазине цветов представлен широкий выбор оригинальных букетов, композиций из цветов, цветов в шляпных коробках, цветочных корзин и подарков высокого качества. Букеты и композиции собираются нашими флористами в соответствии со всеми вашими пожеланиями и последними трендами флористики. В нашей компании подобрана команда профессионалов знающих и любящих свою работу. Постоянно в наличии розы, кустовые розы, хризантемы, герберы, альстромерии, эустома (лизиантус), лилии, ирисы, тюльпаны, а также экзотические цветы. Цветы закупаются напрямую у поставщиков Голландии, Эквадора и Кении, поэтому у нас всегда свежие цветы и низкие цены.

Кроме цветов и букетов наш магазин предлагает мягкие игрушки, воздушные шары с гелием, конфеты, шоколад, а также сладкие и цветочно-фруктовые корзины.

мы предоставляем следующие усуги: 

<ul>
     <b><li>Продажа цветов</li>
    <li>Букетов</li> 
    <li>Подарков через интернет или в нашем цветочном магазине</li>
    <li>Оперативная доставка букетов от 30 минут получателю</li>
    <li>Оформление мероприятий</li>
    <li>Работа с корпоративными клиентами</li>
    <li>Выполнение индивидуальных заказов любой сложности.</li>
   <li>Гарантия качества</li></b>
 </ul>

{% endblock %}
