{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Россия<br />
    Санкт-Петербург,ул.Верности,д46<br />
    <abbr>С нами можно связаться по телефону:</abbr>
    8(888)888-88-88
</address>

<address>
    <strong>Служба поддержки:</strong>   <a href="cvetypittter@mail.ru">cvetypittter@mail.ru</a><br />
    <strong>Почта для предложений:</strong>   <a href="cvetypittteкpredl@mail.ru">cvetypittterpredl@mail.ru</a><br />
</address>

{% endblock %}
